// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html,
body {
  padding: 0px;
  padding-right: 0 !important;
  width: 100%;
  height: 100%;
}


.content-wrapper {
  height: 100%;
}
body a {
  color: #1c2529;
}
/* estilo de inicio session */
.container-login {
    margin-top: 10%;
    height: 100%;
}
.tituloLogin {
    font-weight: bold;
}
.labelLogin {
    text-align: left;
  font-size: 14px;
}

.btnLogin {
  box-shadow: 1px 2px 1px #1c2529;
  text-shadow: 1px 1px 1px grey;
  font-weight: bold;
  font-size: 14px;
}
/* EStado */

.estiloEstado {
  font-size: 10px;
  padding: 1.5px 5px;
  border-radius: 10px;
  box-shadow: 1px 1px gray;
  text-align: center;
}

.busquedasTareas {
  border: 0px solid gray;
  border-radius: 10px;
  padding: 10px;
  -moz-box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0 0 2px#888;
  box-shadow: 0 0 2px #888;
}

.margenFecha {
  margin: 10px 5px 15px 0px;
}

.margenDescripcion {
  margin-bottom: 15px;
}

.fechaTareas {
  font-size: 14px;
  color: #b22222;
  padding: 0.2em;
  background: #fafad2;
  font-family: "verdana", "sans-serif";
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
}
#notificacion {
  z-index: 99999;
  position: fixed;
  top: 54px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
}

/* Aprobaciones opciones */
.opcionAprobacion {
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
}

/* Elemento Notificacion */
#notificacion div {
  position: relative;
  margin: 5px 0px;
  opacity: 0.9;
}
.notificacion {
  z-index: 99999;
  position: fixed;
  top: 54px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
}
.barraEvaluador {
  margin-top: 5px;
  border-bottom: 1px solid #a9a9a9;
}
.headerTable {
  background: #4f81bd;
  color: #fff;
}
.btn-back {
  margin-right: 10px;
}
.titulo-panel {
  margin: 0;
  font-weight: bold;
}
.modal-delete-content {
  border-radius: 10px;
}
.modal-delete-header {
  border-radius: 10px 10px 0px 0px;
  background: #3c8dbc;
  color: white;
}
.modal-delete-header>h4{
  font-weight: bold;
  color: white;
}


#nuevo {
  position: relative;
  display: inline-block;
  margin: 0;
  rigth: 0px;
}

#tituloNuevo {
  display: inline-block;
}
#contenedor {
  background: #fff;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}
#contenedor #formNuevo {
  background: #e8e8e8;
  padding: 10px;
}
#contenedor #formNuevo button {
  margin: 5px;
}
#contenedor #formNuevo input {
  margin: 5px;
}
@media (max-width: 768px) and (min-width: 540px) {
  section {
    padding: 0;
  }
  section .subtitulo {
    display: inline-block;
  }
  section .input-group {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding: 0;
  }
  section .subtitulo {
    display: inline-block;
  }
}

